body{
	background-color: pink;
}
.tabs .tab a{
	
}
.tabs .tab a:hover, .tabs .tab a.active{
 	background-color: white;
}
.tabs .tab{
	margin: 10px;
	background-color: lightblue;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	
}
.tabs .indicator {
    background-color: transparent;
}
.tabs{
	height: 55px;
}