*, h1, h2, h3, h4, h5, h6, i, p {
  padding: 0;
  margin: 0; }

body {
  background-color: white;
  width: 90%;
  margin: 0 auto; }

.signup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .signup p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px; }
    .signup p a {
      margin-left: 2px;
      color: #847D7D; }

h1.title {
  font-size: 3.5em;
  font-weight: bold; }

.tabs .tab a {
  color: #847D7D; }

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #289EFE;
  color: white; }

.tabs .tab {
  margin: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid #289EFE;
  font-weight: bold; }

.tabs .indicator {
  background-color: transparent; }

.tabs {
  height: 50px; }

.agents {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #289EFE;
  height: 60px; }
  .agents .agents-title {
    margin: 0 10px;
    color: white; }
  .agents .btn {
    border-radius: 50px;
    margin: 0 5px; }
  .agents .chip {
    width: 80px;
    text-align: center;
    background-color: #BEBEBE;
    margin: 0 3px; }
  .agents .chip.selected {
    background-color: #E4E4E4; }

.cards .card {
  border-radius: 10px;
  padding: 15px; }
.cards .add-resources {
  width: 60%;
  margin-left: 65px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  /* label focus color */
  /* label underline focus color */ }
  .cards .add-resources .btn {
    background-color: #289EFE; }
  .cards .add-resources .btn:hover {
    background-color: #289EFE; }
  .cards .add-resources .btn:focus {
    background-color: #289EFE; }
  .cards .add-resources .btn-small {
    height: 26px;
    line-height: 24px;
    padding: 0 0.5rem;
    border-radius: 10px;
    margin-right: 5px; }
  .cards .add-resources input {
    height: 20px; }
  .cards .add-resources input[type=text]:focus + label {
    color: #BEBEBE; }
  .cards .add-resources input[type=text]:focus {
    border-bottom: 1px solid #BEBEBE;
    box-shadow: 0 1px 0 0 #BEBEBE; }
.cards .img-info {
  display: flex;
  flex-direction: row; }
  .cards .img-info .circle {
    background-color: #BEBEBE;
    height: 50px;
    width: 50px;
    margin: 0 10px; }
  .cards .img-info .info {
    width: 100%; }
    .cards .img-info .info .info-name {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .cards .img-info .info .info-name p {
        font-size: 16px; }
      .cards .img-info .info .info-name .info-domain {
        margin-right: 10px; }
    .cards .img-info .info .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; }
      .cards .img-info .info .actions .resources {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .cards .img-info .info .actions .resources .specify-resources {
          margin-right: 5px; }
        .cards .img-info .info .actions .resources ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap; }
          .cards .img-info .info .actions .resources ul li {
            margin: 0 5px; }
            .cards .img-info .info .actions .resources ul li p {
              font-size: 14px;
              display: flex;
              flex-direction: row;
              align-items: center; }
              .cards .img-info .info .actions .resources ul li p a {
                display: flex;
                flex-direction: row;
                align-items: center;
                color: #847D7D; }
            .cards .img-info .info .actions .resources ul li i {
              font-size: 14px;
              border: 1px solid #847D7D;
              border-radius: 5px; }
      .cards .img-info .info .actions .deny .deny-parag {
        display: flex;
        flex-direction: row;
        align-items: center; }

#card-01, #card-04 {
  background-color: #c4ffc4; }

#card-02, #card-03 {
  background-color: #fcfcbd; }

.right-space h5 {
  margin: 5px 0; }
.right-space .gray-line {
  height: 2px;
  background-color: #289EFE;
  width: 100%; }
.right-space .history-items p {
  margin: 8px; }

/*# sourceMappingURL=main.css.map */
